<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe Sharing</title>
    <link rel="stylesheet" href="/css/recipe.css">

</head>
<body>
<div class="navigation-bar">
    <input type="text" id="searchInput" placeholder="Search" class="search-input">
    <div class="menu">
        <div id="home" class="text-wrapper">Home</div>
        <div id="rank" class="text-wrapper">Rank</div>
        <div id="popular" class="text-wrapper">Popular</div>
    </div>
    <div class="avatar-set">
        <img class="shape" id="avatar" src="/image/avatar.png" />
        <img class="list" id="list" src="/image/list.png" />
    </div>
</div>
<div class="recipe-header">
    <div class="recipe-title">Sườn xào chua ngọt</div>

    <div class="recipe-meta">
        <div class="author-info">
            <img src="/image/avatar.png" >
            <div class="author-name">Author’s name</div>
        </div>

        <div class="post-date">26th4, 2025</div>

        <div class="save-box">
            <img src="/image/Bookmark.png">
            <div class="save-count">Save 9</div>
        </div>

        <div class="rating-box">
            <img src="/image/Star.png">
            <div class="rating-count">4.5</div>
        </div>
    </div>
</div>



</body>
</html>